#include "windows.h"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

1 VERSIONINFO
FILEVERSION		1,0,0,8
PRODUCTVERSION	1,0,0,8
FILEOS			VOS__WINDOWS32
FILETYPE		VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
        BEGIN
            VALUE "FileDescription",	"MakeROM CodeWarrior IDE Plugin\0"
			VALUE "LegalCopyright",		"GNU Public License Copyright © 2001\0"
            VALUE "Comments",			"Based on Handspring's MakeROM GNU tools\0"
            VALUE "CompanyName",		"Metrowerks, A Motorola Company\0"
			VALUE "FileVersion",		"1.0.0.8\0"
            VALUE "ProductName",		"CodeWarrior for Palm OS Platform\0"
			VALUE "ProductVersion",		"8.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END


